body{
    background-color: hsl(250, 100%, 10%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 20px;
}

#pa1{
    font-size: 65px;
    padding: 15px;
    margin-bottom: 15px;
}

#pa2{
    font-size: 30px;
    padding: auto;
}

#pa3{
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

#summaryOp{
    transition: all 0.3s ease-in-out;;
    transition-duration: 5ms;
}
#summaryOp:focus{
    transform: scale(1.2);
}

.myp{
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

#TIKTOK:hover{
    color: hsl(0, 0%, 10%);
}

#TWITTER:hover{
    color: aqua;
}

#YOUTUBE:hover{
    color: red;
}

#FACEBOOK:hover{
    color: blue;
}

#WHATSAPP:hover{
    color: hsla(106, 100%, 54%, 0.959);
}

p{
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    font-family: POPPINS, sans-serif;

}

#input:hover{
    font-size: 16px;
}

input{
    border-radius: 100px;
    border-style: none;
    border: 2px solid yellow;
    padding: 5px;
    font-size: 15px;
    margin: 20px;
    transition: all 0.1s ease-in-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
input:focus{
    cursor: pointer;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 12px;
    border-style: none;
    border: 2px solid yellow;
}

#countLable{
    display: block;
    text-align: center;
    font-size: 12EM;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
#countLable:hover{
    color: yellow;
    transform: scale(1.2);
}

.dropdown{
    position: relative; /* establish containing block for absolute content */
    display: inline-block;
}

#main1{
    width: 15%;
    height: auto;
    text-align: left;
    float: left;
    margin-left: 10px;
    transition: all 2px ease-in-out;
}

#main1:hover{
    transform: scale(1.2);
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    border-radius: 100px;
    background-color: hsl(0, 0%, 80%);
    padding: 10px;
    border: 3px solid;
    border-color: yellow;
    margin: 5px; /* remove large margins so elements stack cleanly */
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 150px;
}

.dropdown .content{
    display: none;
    position: absolute;
    top: 100%; /* place directly beneath the trigger */
    left: 0;
    z-index: 1000;
    background-color: hsl(250, 100%, 10%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.dropdown:hover .content{
    display: block;
}

a{
    text-decoration: none;
    margin: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}

i{
    margin: 15px;
    font-size: 30px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

i:hover{
    transform: scale(1.3);
}

#unitedHomecell{
    width: 199px;
}

#box{
    width:auto;
    height: auto;
    box-align: center;
    margin: 20px;
    border-radius: 25px;
    padding: 15px;
    border: 5px solid;
    border-color: yellow;
    box-shadow: 0px 0px 70px yellow;
    font-size: 25px;
}

.myp{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#TAKING{
    width: 221px;
}

.Home{
    border-radius: 100px;
    background-color: hsl(0, 0%, 80%);
    padding: 10px;
    border: 3px solid;
    border-color:yellow;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 150px;
    animation: appear 0.5ms linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

button:hover{
    background-color: yellow;
     transform: scale(1.2);
     border-radius: 100px;
}

h1{
    font-family: poppins, sans-serif;
}

.k1{ 
    width: 60%;
    height: auto;
    margin: auto;
    padding: 50px;
    border-radius: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: appear 0.5ms linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

iframe{
    animation: appear 0.5ms linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear {
    from{
    opacity: 0;
    scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

h3 {
    font-style: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0, 0%, 100%);

}

hr{
    border: 2px solid;
    border-color: yellow;
    width: 80%;
}

.icons{
    margin: 20px;
    font-size: 30px;
    padding: 15px;
    color: rgb(214, 214, 214);
    animation: appear 0.5ms linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#hrr{
    border: 3px solid;
    border-color: yellow;
    width: 30%;
    margin-top: 30px;
}

footer{
    padding: 10px;
    font-size: 12px;
}

#myh1{
    font-size: 60px;
}

#videoOne{
    aspect-ratio: 16/9;
    object-fit: cover; 
    margin: 25px;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from{
        transform: perspective(500px) rotateX(-16deg) rotateY(0deg);
    }
    to{
        transform: perspective(500px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner .headers{
    font-size: 20em;
    font-family: impact;
    z-index:1;
}

#life{
    z-index: 3;
}

@media (max-width: 768px) {
    .banner .headers{
        display: none;
    }
    #life{
        margin-top:25%;
    }
    body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    p{
        font-size: clamp(18px, 4vw, 24px);
        margin: 15px;
        padding: 15px;
        text-align: center;
    }
    
    .k1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 100px rgb(251, 255, 0);
        border: solid 5px yellow;
        width: 80%;
        height: auto;
        margin: 20px auto;
        padding: 20px;
        border-radius: 7px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   
    .banner .slider {
        width: 250px;
        height: 350px;
        top: 6%;
        left: calc(50% - 75px);
        justify-content: center;
        margin: 0 auto;
    }

    /* Override floats and widths for mobile so everything centers */
    #main1, #TAKING, .Home, .dropdown a, .k1, #box {
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
        width: auto !important;
    }
}
















